{% extends 'base.html' %}
{% block content %}

<div class="content container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col">
                <h3 class="page-title">Profile Update</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Profile Update</li>
                </ul>
            </div>
        </div>
    </div>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
        {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Basic Information</h5>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'profile_update' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Profile Picture</label>
                            <div class="col-md-10">
                                <input class="form-control" type="file" name="profile_pic">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Username</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="username" value="{{user.username}}" readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">First Name</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="first_name" value="{{user.first_name}}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Last Name</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="last_name" value="{{user.last_name}}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Email</label>
                            <div class="col-md-10">
                                <input type="email" class="form-control" name="email" value="{{user.email}}" readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">New Password</label>
                            <div class="col-md-10">
                                <input type="password" class="form-control" name="password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-10 offset-md-2">
                                <button type="submit" class="btn btn-primary">Update Profile</button>
                                <button type="reset" class="btn btn-primary ml-2">Reset</button>
                            </div>
                        </div>
                        <!--
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Disabled Input</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" disabled="disabled">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Readonly Input</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" value="readonly" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Placeholder</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" placeholder="Placeholder">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Default Select</label>
                            <div class="col-md-10">
                                <select class="form-control">
                                    <option>-- Select --</option>
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                    <option>Option 4</option>
                                    <option>Option 5</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Radio</label>
                            <div class="col-md-10">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="radio"> Option 1
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="radio"> Option 2
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="radio"> Option 3
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Checkbox</label>
                            <div class="col-md-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="checkbox"> Option 1
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="checkbox"> Option 2
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="checkbox"> Option 3
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Textarea</label>
                            <div class="col-md-10">
                                <textarea rows="5" cols="5" class="form-control" placeholder="Enter text here"></textarea>
                            </div>
                        </div>
                        <div class="form-group mb-0 row">
                            <label class="col-form-label col-md-2">Input Addons</label>
                            <div class="col-md-10">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    <input class="form-control" type="text">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">Button</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        -->
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Reset Password</h5>
                </div>
                <div class="card-body">
                    <form action="#">
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">New Password</label>
                            <div class="col-md-10">
                                <input type="password" class="form-control" name="password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Confirm Password</label>
                            <div class="col-md-10">
                                <input type="password" class="form-control">
                            </div>
                        </div>
                        <!--
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Large Input</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control form-control-lg" placeholder=".form-control-lg">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Default Input</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" placeholder=".form-control">
                            </div>
                        </div>
                        <div class="form-group mb-0 row">
                            <label class="col-form-label col-md-2">Small Input</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control form-control-sm" placeholder=".form-control-sm">
                            </div>
                        </div>
                        -->
                        <div class="form-group row">
                            <div class="col-md-10 offset-md-2">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
